infra/synweb-workflows/SynWeb_Synthesize.json
[
  {
    "updatedAt": "2026-04-19T20:10:04.773Z",
    "createdAt": "2026-04-16T22:10:06.588Z",
    "id": "xgBgCZeVWBVB7jLN",
    "name": "SynWeb_Synthesize",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "03cbc922-9b34-42a0-b57c-86fa55aac152",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -100,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "session_id"
              },
              {
                "name": "round_number",
                "type": "number"
              },
              {
                "name": "problem_brief"
              }
            ]
          }
        }
      },
      {
        "id": "5dc4c119-863d-442f-85d7-d1296cb01785",
        "name": "Get Persona Responses",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          150,
          200
        ],
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_personas"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $json.session_id }}"
              }
            ]
          },
          "returnAll": true
        }
      },
      {
        "id": "8a6d1c3f-3777-4996-a22b-a465db3cf2ee",
        "name": "Get Session Files",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          150,
          400
        ],
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_files"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.session_id }}"
              }
            ]
          },
          "returnAll": true,
          "alwaysOutputData": true
        },
        "executeOnce": true
      },
      {
        "id": "46f21ed2-54b6-4c43-bedb-bf54b63a491c",
        "name": "Aggregate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          200
        ],
        "parameters": {
          "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst roundNumber = trigger.round_number;\nconst responseField = `round_${roundNumber}_response`;\nconst personas = $input.all().map(i => i.json);\nconst allResponses = personas.map(p => {\n  return `--- ${p.name} (${p.type || ''}) ---\\nPerspective: ${p.core_perspective || ''}\\n\\n${p[responseField] || 'No response yet'}`;\n}).join('\\n\\n');\nreturn [{json: {session_id: trigger.session_id, round_number: roundNumber, problem_brief: trigger.problem_brief, all_responses: allResponses, persona_count: personas.length}}];"
        }
      },
      {
        "id": "9c75306e-c962-4ec5-9356-6ecc90ad70f0",
        "name": "Has Files?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          650,
          400
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict",
              "version": 2,
              "leftValue": ""
            },
            "conditions": [
              {
                "leftValue": "={{ $json.file_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "b14eb5fb-2b3b-4b3a-a3dd-4da85e8c4947",
        "name": "Download File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          400
        ],
        "parameters": {
          "url": "={{ $json.file_url }}",
          "options": {}
        }
      },
      {
        "id": "5e1d12ed-7520-434c-b653-c566a32b841a",
        "name": "Merge Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1150,
          400
        ],
        "parameters": {
          "jsCode": "const aggregate = $('Aggregate').first().json;\nconst items = $input.all();\nconst mergedBinary = {};\nconst keys = [];\nlet count = 0;\nfor (const it of items) {\n  if (it.binary) {\n    for (const [k, v] of Object.entries(it.binary)) {\n      const nk = `file_${count}`;\n      mergedBinary[nk] = v; keys.push(nk); count++;\n    }\n  }\n}\nreturn [{json: {...aggregate, binaryKeys: keys.join(',')}, binary: count > 0 ? mergedBinary : undefined}];"
        }
      },
      {
        "id": "4d92beb2-55c8-4d19-aa3c-ba3d275bdf4a",
        "name": "Synthesize With Files",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          1400,
          400
        ],
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "claude-sonnet-4-5-20250929"
          },
          "messages": {
            "values": [
              {
                "content": "=RUNDE {{ $json.round_number }} - SYNTHESE\n\nPROBLEM BRIEF:\n{{ $json.problem_brief }}\n\nALLE PERSONA-ANTWORTEN ({{ $json.persona_count }} Panelisten):\n{{ $json.all_responses }}\n\nAngehaengte Dateien sind Teil des Panel-Kontexts. Analysiere sie gruendlich und beziehe sie in die Synthese ein.\n\nSektionen:\n1. KONSENS\n2. SPANNUNGSLINIEN\n3. UEBERRASCHUNGEN\n4. OFFENE LUECKEN\n5. ENTSTEHENDE FRAGEN\n\nKeine vorgetaeuschten Konsense. Weise Ideen namentlich zu."
              }
            ]
          },
          "addAttachments": true,
          "attachmentsInputType": "binary",
          "binaryPropertyName": "={{ $json.binaryKeys || 'data' }}",
          "options": {
            "temperature": 0.5,
            "maxTokens": 4096,
            "systemMessage": "Du bist die Syn-Synthese-Engine. Erstelle ehrliche, strukturierte Synthese-Berichte aus mehreren Expertenperspektiven. Blaettere NIEMALS Meinungsverschiedenheiten weg. Weise Ideen namentlich zu. ANTWORTE IMMER in der gleichen Sprache wie die Persona-Antworten (Deutsch, wenn die Personas Deutsch sprechen). FORMATIERUNG: nur Plain Text, kein Markdown."
          }
        },
        "credentials": {
          "anthropicApi": {
            "id": "xryPDagnAi6vifng",
            "name": "Anthropic account"
          }
        }
      },
      {
        "id": "d24f4297-25ad-46dd-8b19-d0b4e535f83b",
        "name": "Synthesize No Files",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          1400,
          650
        ],
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "claude-sonnet-4-5-20250929"
          },
          "messages": {
            "values": [
              {
                "content": "=RUNDE {{ $json.round_number }} - SYNTHESE\n\nPROBLEM BRIEF:\n{{ $json.problem_brief }}\n\nALLE PERSONA-ANTWORTEN ({{ $json.persona_count }} Panelisten):\n{{ $json.all_responses }}\n\nSektionen:\n1. KONSENS\n2. SPANNUNGSLINIEN\n3. UEBERRASCHUNGEN\n4. OFFENE LUECKEN\n5. ENTSTEHENDE FRAGEN\n\nKeine vorgetaeuschten Konsense. Weise Ideen namentlich zu."
              }
            ]
          },
          "options": {
            "temperature": 0.5,
            "maxTokens": 4096,
            "systemMessage": "Du bist die Syn-Synthese-Engine. Erstelle ehrliche, strukturierte Synthese-Berichte aus mehreren Expertenperspektiven. Blaettere NIEMALS Meinungsverschiedenheiten weg. Weise Ideen namentlich zu. ANTWORTE IMMER in der gleichen Sprache wie die Persona-Antworten (Deutsch, wenn die Personas Deutsch sprechen). FORMATIERUNG: nur Plain Text, kein Markdown."
          }
        },
        "credentials": {
          "anthropicApi": {
            "id": "xryPDagnAi6vifng",
            "name": "Anthropic account"
          }
        }
      },
      {
        "id": "6f46c9cc-6eb2-4a21-bc48-39e60a28c8eb",
        "name": "Save Synthesis",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1700,
          500
        ],
        "parameters": {
          "operation": "insert",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_syntheses"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $('Execute Workflow Trigger').item.json.session_id }}",
              "round_number": "={{ $('Execute Workflow Trigger').item.json.round_number }}",
              "synthesis_text": "={{ $json.content ? $json.content[0].text : ($json.output || '') }}"
            }
          },
          "options": {}
        }
      },
      {
        "id": "69443a12-f5ce-4f25-b13b-2cc0ce551789",
        "name": "Web Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1950,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syn.worqshop.io/api/n8n/callback",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Syn-Callback-Secret",
                "value": "a43e6582abf82fcdf0caa75a7ff22ce1a9a80cf6447ca2b376c7c3c08a88675c"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({sessionId: $('Execute Workflow Trigger').item.json.session_id, kind: 'synthesis', roundNumber: $('Execute Workflow Trigger').item.json.round_number, text: ($('Synthesize With Files').isExecuted ? $('Synthesize With Files').first().json.content[0].text : $('Synthesize No Files').first().json.content[0].text)}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Get Persona Responses",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Session Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Persona Responses": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Session Files": {
        "main": [
          [
            {
              "node": "Has Files?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Files?": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Synthesize No Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Merge Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Files": {
        "main": [
          [
            {
              "node": "Synthesize With Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Synthesize With Files": {
        "main": [
          [
            {
              "node": "Save Synthesis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Synthesize No Files": {
        "main": [
          [
            {
              "node": "Save Synthesis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Synthesis": {
        "main": [
          [
            {
              "node": "Web Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataSuccessExecution": "all",
      "saveDataErrorExecution": "all",
      "saveManualExecutions": true,
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "2aa01d64-fc9f-4be1-807b-0c66c0cb92f9",
    "activeVersionId": "2aa01d64-fc9f-4be1-807b-0c66c0cb92f9",
    "versionCounter": 11,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-16T22:10:06.588Z",
        "createdAt": "2026-04-16T22:10:06.588Z",
        "role": "workflow:owner",
        "workflowId": "xgBgCZeVWBVB7jLN",
        "projectId": "ckYCj2WnRYeX9dyH",
        "project": {
          "updatedAt": "2025-09-17T22:00:48.229Z",
          "createdAt": "2025-09-17T19:21:15.442Z",
          "id": "ckYCj2WnRYeX9dyH",
          "name": "Tech Worqshop <tech@worqshop.io>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ddd3fc4f-8d8a-40c8-ab19-e75defdac099"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]