infra/synweb-workflows/SynWeb_Audience.json
[
  {
    "name": "SynWeb_Audience",
    "description": null,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_personas"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $json.sessionId }}"
              },
              {
                "keyName": "slack_slot",
                "keyValue": "={{ $json.slotNumber }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "get-persona",
        "name": "Get Persona for Slot",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          624,
          352
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.name }}",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "id": "cond-1"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "persona-found",
        "name": "Persona Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1056,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// If DataTable returned 0 rows, create an empty item so the IF node can route to false-branch\nif (items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  return [{\n    json: {\n      name: null,\n      profile: null,\n      session_id: null,\n      persona_id: null,\n      slack_slot: null,\n      _noPersonaFound: true\n    }\n  }];\n}\n\nreturn items;"
        },
        "id": "d3f6e1a7-3da5-40eb-aa47-8348126688f4",
        "name": "Ensure Item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          352
        ]
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sessionId"
              },
              {
                "name": "channelId"
              },
              {
                "name": "userId"
              },
              {
                "name": "cleanMessage"
              },
              {
                "name": "hasFiles",
                "type": "boolean"
              },
              {
                "name": "fileStatus"
              },
              {
                "name": "botName"
              },
              {
                "name": "slotNumber",
                "type": "number"
              },
              {
                "name": "targetWorkflow"
              },
              {
                "name": "fileUrl"
              }
            ]
          }
        },
        "id": "99bfbd12-88e0-46bc-ad8c-b9c783bfe1aa",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          400,
          352
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_files"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "limit": 10
        },
        "id": "b01dcacb-a948-4022-a233-b2707db4bbd1",
        "name": "Get File URL",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1280,
          224
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "={{ $json.file_url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "options": {}
        },
        "id": "5b80a9c0-0631-42ad-890f-5abcc206ce35",
        "name": "Download File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1712,
          112
        ],
        "credentials": {
          "slackApi": {
            "id": "LGc2ErEQ4dgP1qnJ",
            "name": "Syn"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Merge all downloaded file binaries + add binaryKeys for Anthropic node\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst personaData = $('Ensure Item').first().json;\nconst downloadedItems = $input.all();\n\nconst mergedBinary = {};\nconst keys = [];\nlet fileCount = 0;\n\nfor (const item of downloadedItems) {\n  if (item.binary) {\n    for (const [key, value] of Object.entries(item.binary)) {\n      const newKey = `file_${fileCount}`;\n      mergedBinary[newKey] = value;\n      keys.push(newKey);\n      fileCount++;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...personaData,\n    sessionId: triggerData.sessionId,\n    channelId: triggerData.channelId,\n    cleanMessage: triggerData.cleanMessage || '',\n    slotNumber: triggerData.slotNumber,\n    botName: triggerData.botName,\n    fileCount,\n    binaryKeys: keys.join(',')\n  },\n  binary: fileCount > 0 ? mergedBinary : undefined\n}];"
        },
        "id": "0705bbe1-09cb-4f64-9bc0-cd91f1f7f82a",
        "name": "Merge Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          240
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT message FROM n8n_chat_histories WHERE session_id = 'synweb_aud_{{ $json.slotNumber }}_{{ $json.sessionId }}' ORDER BY id DESC LIMIT 20",
          "options": {}
        },
        "id": "35767640-062a-4603-851c-c977cd226bd3",
        "name": "Load Memory",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2112,
          240
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "3bFmPfSLWhmF9NRR",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO n8n_chat_histories (session_id, message) VALUES ('synweb_aud_{{ $('Prep Audience').item.json.slotNumber }}_{{ $('Prep Audience').item.json.sessionId }}', '{\"type\":\"constructor\",\"id\":[\"langchain_core\",\"messages\",\"HumanMessage\"],\"kwargs\":{\"content\":\"{{ $('Prep Audience').item.json.cleanMessage.replace(/'/g, \"''\").replace(/\"/g, '\\\\\"') }}\",\"additional_kwargs\":{},\"response_metadata\":{}}}'), ('synweb_aud_{{ $('Prep Audience').item.json.slotNumber }}_{{ $('Prep Audience').item.json.sessionId }}', '{\"type\":\"constructor\",\"id\":[\"langchain_core\",\"messages\",\"AIMessage\"],\"kwargs\":{\"content\":\"{{ $json.content[0].text.replace(/'/g, \"''\").replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}}')",
          "options": {}
        },
        "id": "8f4a5a75-8a53-429a-af8e-29ba6f1dc68a",
        "name": "Save Memory",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2720,
          240
        ],
        "credentials": {
          "postgres": {
            "id": "3bFmPfSLWhmF9NRR",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-opus-4-6",
            "mode": "list",
            "cachedResultName": "claude-opus-4-6"
          },
          "messages": {
            "values": [
              {
                "content": "=Du bist {{ $('Merge Files').item.json.name }}.\n\nPROFIL:\n{{ $('Merge Files').item.json.profile }}\n\nKERNPERSPEKTIVE:\n{{ $('Merge Files').item.json.core_perspective }}\n\nAKTUELLE POSITION:\n{{ $('Merge Files').item.json.position_summary || 'Noch nicht etabliert' }}\n\n{{ $('Merge Files').item.json.round_1_response ? 'RUNDE 1 ANALYSE:\\n' + $('Merge Files').item.json.round_1_response.substring(0, 2000) + '\\n' : '' }}{{ $('Merge Files').item.json.round_2_response ? 'RUNDE 2 ANTWORT:\\n' + $('Merge Files').item.json.round_2_response.substring(0, 2000) + '\\n' : '' }}\nBISHERIGER GESPRAECHSVERLAUF:\n{{ $('Load Memory').all().length > 0 ? $('Load Memory').all().reverse().map(i => i.json.role + ': ' + i.json.content).join('\\n') : 'Kein bisheriges Gespraech' }}\n\nWenn Dateien angehaengt sind, analysiere sie gruendlich und beziehe sie in deine Antwort ein.\n\nFRAGE VOM OPERATOR:\n{{ $('Merge Files').item.json.cleanMessage }}\n\nAntworte voll in character. Dies ist ein Sidebar-Interview - nichts aendert deine Position in der Hauptdiskussion.\nKein Markdown. Nur plain text. Zeilenumbrueche fuer Struktur. Emojis sparsam."
              }
            ]
          },
          "addAttachments": true,
          "attachmentsInputType": "binary",
          "binaryPropertyName": "={{ $('Merge Files').item.json.binaryKeys || 'data' }}",
          "options": {
            "temperature": 0.7
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          2448,
          240
        ],
        "id": "6f7b1009-333a-4ad6-907a-377b328ad723",
        "name": "Audience Response",
        "credentials": {
          "anthropicApi": {
            "id": "xryPDagnAi6vifng",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Re-attach binaries from Merge Files + combine with Load Memory results\nconst mergeItem = $('Merge Files').first();\nconst memoryItems = $('Load Memory').all();\n\n// Build conversation history\nlet conversationHistory = 'Kein bisheriges Gespraech';\nif (memoryItems.length > 0 && memoryItems[0].json && Object.keys(memoryItems[0].json).length > 0) {\n  const history = memoryItems.reverse().map(i => {\n    const j = i.json;\n    const role = j.role || j.type || 'unknown';\n    const content = j.content || j.message || j.text || JSON.stringify(j);\n    return role + ': ' + content;\n  }).join('\\n');\n  if (history.trim()) conversationHistory = history;\n}\n\nreturn [{\n  json: {\n    ...mergeItem.json,\n    conversationHistory\n  },\n  binary: mergeItem.binary || undefined\n}];"
        },
        "id": "7a713647-8fbd-43ae-b413-b5c0fa22758a",
        "name": "Prep Audience",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          240
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT message FROM n8n_chat_histories WHERE session_id = 'synweb_aud_{{ $('Execute Workflow Trigger').item.json.slotNumber }}_{{ $('Execute Workflow Trigger').item.json.sessionId }}' ORDER BY id DESC LIMIT 20",
          "options": {}
        },
        "id": "75ec1793-2942-4292-8141-58e7671bd309",
        "name": "Load Memory1",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2208,
          448
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "3bFmPfSLWhmF9NRR",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "claude-sonnet-4-20250514"
          },
          "messages": {
            "values": [
              {
                "content": "=Du bist {{ $('Ensure Item').item.json.name }}.\n\nPROFIL:\n{{ $('Ensure Item').item.json.profile }}\n\nKERNPERSPEKTIVE:\n{{ $('Ensure Item').item.json.core_perspective }}\n\nAKTUELLE POSITION:\n{{ $('Ensure Item').item.json.position_summary || 'Noch nicht etabliert' }}\n\n{{ $('Ensure Item').item.json.round_1_response ? 'RUNDE 1 ANALYSE:\\n' + $('Ensure Item').item.json.round_1_response.substring(0, 2000) + '\\n' : '' }}{{ $('Ensure Item').item.json.round_2_response ? 'RUNDE 2 ANTWORT:\\n' + $('Ensure Item').item.json.round_2_response.substring(0, 2000) + '\\n' : '' }}\nBISHERIGER GESPRAECHSVERLAUF:\n{{ $('Load Memory1').all().length > 0 && $('Load Memory1').first().json.message ? $('Load Memory1').all().map(i => i.json.message).join('\\n') : 'Kein bisheriges Gespraech' }}\n\nFRAGE VOM OPERATOR:\n{{ $('Execute Workflow Trigger').item.json.cleanMessage }}\n\nAntworte voll in character. Dies ist ein Sidebar-Interview - nichts aendert deine Position in der Hauptdiskussion.\nKein Markdown. Nur plain text. Zeilenumbrueche fuer Struktur. Emojis sparsam."
              }
            ]
          },
          "options": {
            "temperature": 0.7
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          2400,
          448
        ],
        "id": "9f2ec138-23a4-4e5c-a5fc-7bc6865c037d",
        "name": "Audience Response1",
        "credentials": {
          "anthropicApi": {
            "id": "6YlHfpAGGCKl1H1S",
            "name": "Anthropic account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO n8n_chat_histories (session_id, message) VALUES ('synweb_aud_{{ $('Execute Workflow Trigger').item.json.slotNumber }}_{{ $('Execute Workflow Trigger').item.json.sessionId }}', '{\"type\":\"constructor\",\"id\":[\"langchain_core\",\"messages\",\"HumanMessage\"],\"kwargs\":{\"content\":\"{{ $('Execute Workflow Trigger').item.json.cleanMessage.replace(/'/g, \"''\").replace(/\"/g, '\\\\\"') }}\",\"additional_kwargs\":{},\"response_metadata\":{}}}'), ('synweb_aud_{{ $('Execute Workflow Trigger').item.json.slotNumber }}_{{ $('Execute Workflow Trigger').item.json.sessionId }}', '{\"type\":\"constructor\",\"id\":[\"langchain_core\",\"messages\",\"AIMessage\"],\"kwargs\":{\"content\":\"{{ $json.content[0].text.replace(/'/g, \"''\").replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}}')",
          "options": {}
        },
        "id": "be9338e8-a0d7-42e4-bd57-8c88436a4cbc",
        "name": "Save Memory1",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2720,
          448
        ],
        "credentials": {
          "postgres": {
            "id": "3bFmPfSLWhmF9NRR",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "59909a14-79ea-47d6-b8f0-d0d1632ab4ae",
                "leftValue": "={{ $json.file_url }}",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1488,
          224
        ],
        "id": "9167fa4b-a4b8-4584-84b3-2adab107c0a7",
        "name": "If"
      },
      {
        "id": "b3ab2c82-0c8b-480f-82dc-3e742acbfbc6",
        "name": "Web Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1700,
          304
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syn.worqshop.io/api/n8n/callback",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Syn-Callback-Secret",
                "value": "=a43e6582abf82fcdf0caa75a7ff22ce1a9a80cf6447ca2b376c7c3c08a88675c"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({sessionId: $('Execute Workflow Trigger').item.json.sessionId, personaId: $('Execute Workflow Trigger').item.json.slotNumber, kind: 'audience_reply', text: ($('Audience Response').isExecuted ? $('Audience Response').first().json.content[0].text : $('Audience Response1').first().json.content[0].text)}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "continueOnFail": true
      },
      {
        "id": "27c29c3b-7a81-452b-9319-c8c1ef634981",
        "name": "No Persona Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syn.worqshop.io/api/n8n/callback",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Syn-Callback-Secret",
                "value": "=a43e6582abf82fcdf0caa75a7ff22ce1a9a80cf6447ca2b376c7c3c08a88675c"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({sessionId: $('Execute Workflow Trigger').item.json.sessionId, personaId: $('Execute Workflow Trigger').item.json.slotNumber, kind: 'audience_no_persona', text: 'Dieser Persona wurde noch keine Rolle zugewiesen.'}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Persona Found?": {
        "main": [
          [
            {
              "node": "Get File URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Persona Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Persona for Slot": {
        "main": [
          [
            {
              "node": "Ensure Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensure Item": {
        "main": [
          [
            {
              "node": "Persona Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Get Persona for Slot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File URL": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Merge Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Files": {
        "main": [
          [
            {
              "node": "Load Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Memory": {
        "main": [
          [
            {
              "node": "Web Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audience Response": {
        "main": [
          [
            {
              "node": "Save Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Memory": {
        "main": [
          [
            {
              "node": "Prep Audience",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Audience": {
        "main": [
          [
            {
              "node": "Audience Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Memory1": {
        "main": [
          [
            {
              "node": "Audience Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audience Response1": {
        "main": [
          [
            {
              "node": "Save Memory1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Memory1": {
        "main": [
          [
            {
              "node": "Web Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Load Memory1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "saveManualExecutions": true,
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "binaryMode": "separate",
      "timeSavedMode": "fixed",
      "errorWorkflow": "k_1wGROZ77CNjRE1INOwj"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "versionMetadata": {
      "name": "Version 5c2c3885",
      "description": ""
    },
    "id": "M04sAqjOhZRVGlXb"
  }
]