infra/synweb-workflows/SynWeb_Coordinator.json
[
  {
    "updatedAt": "2026-04-19T21:16:19.785Z",
    "createdAt": "2026-04-16T22:10:33.552Z",
    "id": "A3jxDuimyDE2G6uO",
    "name": "SynWeb_Coordinator",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Phase Detection: Data comes pre-processed from Syn_Gateway\nconst items = $input.all();\nconst item = items[0].json;\n\nconst threadTs = item.sessionId;\nconst channelId = item.channelId;\nconst userId = item.userId;\nconst cleanMessage = item.cleanMessage || '';\nconst hasFiles = item.hasFiles || false;\n\n// Detect intent patterns\nconst isPersonaQuery = /^(frage an|ask|@|befrag)\\s+/i.test(cleanMessage);\nconst isRigidityChange = /rigidity|rigidität|offener|härter|flexibler|standhafter/i.test(cleanMessage);\nconst isShowAnalysis = /^(zeig|show|was sagt|analyse von)\\s+/i.test(cleanMessage);\nconst isRound3Trigger = /^(runde 3|round 3|weiter|nächste runde|convergence)/i.test(cleanMessage);\nconst isConfirmation = /^(ja|yes|ok|bestätigt|confirmed|go|los|start|passt|gut)/i.test(cleanMessage);\nconst isCancel = /^(abbruch|cancel|stop|nein|no)/i.test(cleanMessage);\n\nlet targetPersona = '';\nif (isPersonaQuery) {\n  const match = cleanMessage.match(/^(?:frage an|ask|@|befrag)\\s+([\\w\\s]+?)(?::|,|\\s+(?:was|wie|ob|whether|how|what))/i);\n  if (match) targetPersona = match[1].trim();\n}\n\nlet newRigidity = null;\nif (isRigidityChange) {\n  const scoreMatch = cleanMessage.match(/(\\d+)/);\n  if (scoreMatch) newRigidity = Math.min(10, Math.max(0, parseInt(scoreMatch[1])));\n}\n\nreturn [{\n  json: {\n    threadTs,\n    channelId,\n    userId,\n    cleanMessage,\n    hasFiles,\n    isPersonaQuery,\n    isRigidityChange,\n    isShowAnalysis,\n    isRound3Trigger,\n    isConfirmation,\n    isCancel,\n    targetPersona,\n    newRigidity,\n    sessionId: threadTs\n  }\n}];"
        },
        "id": "phase-detect",
        "name": "Phase Detection",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2864,
          -336
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_sessions"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $json.sessionId }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "get-session",
        "name": "Get Session",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          3072,
          -336
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.cleanMessage || 'Neue Fokusgruppe starten. Bitte fuehre mich durch den Prozess.' }}{{ $json.hasFiles ? '\\n\\n[SYSTEM NOTE: ' + ($json.fileStatus || 'Der User hat Dateien hochgeladen.') + ' Rufe ZUERST das Read File List Tool auf, um zu sehen was angehaengt ist. Nutze die Summaries, um den Problem Brief zu bauen. Frage den User NICHT nach Dingen, die schon in den Files stehen.]' : '' }}",
          "options": {
            "systemMessage": "You are Syn - a sharp, structured Focus Group Coordinator that orchestrates multi-persona discussions.\n\nEach session is one focus group. You speak with the user in a chat interface.\n\nFORMATTING RULES:\n- NEVER use Markdown: no **, no *, no _, no __, no `, no ```\n- Plain text only. Line breaks for structure. Simple - for lists.\n- Emojis allowed, sparingly.\n- Match the user's language (default German).\n- Keep responses concise.\n\nPROGRESS SIGNALING (IMPORTANT):\nBefore calling any tool that takes more than ~3 seconds (Run Persona, Synthesize Round, Write Personas, Read File Content), call Post Status FIRST with a short one-liner in the user's language (German by default), present tense, max 40 chars. Examples:\n- \"Schreibe Problem-Brief...\"\n- \"Speichere Panel...\"\n- \"Frage Miriam ab (1/4)...\"\n- \"Erstelle Synthese...\"\nDo NOT call Post Status for trivial reads or your final text reply.\n\nYOUR ROLE:\nYou guide users through a structured multi-persona discussion process.\n\nPhase 0 - Discovery & Framing:\nAsk three things (can be bundled):\n1. What is the question, problem, or topic for the panel?\n2. Context, constraints, documents, or exclusions?\n3. What does a successful outcome look like?\n\nIf files are uploaded, acknowledge and use them as briefing material. Do not ask the user to re-explain what is already in the files.\n\nThen create a Problem Brief (max 300 words) and present for confirmation.\n\nPhase 1 - Persona Selection:\nBased on the Problem Brief, propose 3-5 personas. Each persona gets:\n- A realistic first and last name (invent one) - e.g. \"Sarah Klein\", \"Markus Weber\", \"Lena Hoffmann\", \"Tobias Richter\", \"Amira Yildiz\"\n- Role / profession\n- Core perspective\n- Why they add value\n\nCRITICAL: Realistic fictional German or international names. NEVER Alpha/Beta/Gamma/Sigma/Omega - those are Slack-era relics. Pick names that fit background + gender diversity.\n\nEach persona gets a SLOT number 1-5 internally for routing (first = slot 1, etc).\n\nOptimize for: perspective diversity, productive tension (at least one pair should disagree), relevance, communication style variety, blind spot coverage.\n\nPresent the panel for approval. User can swap or adjust count.\n\nSAVING PERSONAS:\nWhen the user confirms, save each persona via Write Personas with:\n- name: the invented real name\n- slack_slot: 1 / 2 / 3 / 4 / 5\n- type, core_perspective, profile filled accordingly\n\nCRITICAL PROFILE RULE: The \"profile\" field MUST describe the persona as a SELF-CONTAINED individual. NEVER reference other panelists by name. NEVER use framings like \"Gegenpol zu X\", \"counterpart to Y\", \"Opposite of Z\", \"in contrast to the other panelists\", \"unlike the researcher in the panel\". The persona must NOT know the panel composition - they answer as if this were a solo interview. Productive tension emerges from each persona holding their own authentic view, not from embedded pairing instructions.\n\nGood profile: \"Tobias Wendland, 29, Solo-Founder eines Productivity-SaaS mit 600 Kunden, lebt in Lissabon. AI-begeistert, pragmatisch, Startup-Slang. Denkt in MVPs, bevorzugt schnelle Loesungen: gut genug und schnell genug reicht.\"\n\nBad profile: \"Tobias. Gegenpol zu Miriam - weniger methodische Reinheit, mehr Ship it.\"\n\nAfter saving, present the final panel clearly. The web UI shows personas in a sidebar for 1-on-1 chats.\n\nPhase 2+ - After personas are confirmed, orchestrate the rounds automatically.\n\nRUNNING A ROUND:\n1. Post Status \"Starte Runde X...\"\n2. For each persona: Post Status \"Frage <Name> ab (i/N)...\" then Run Persona\n3. Post Status \"Erstelle Synthese...\" then Synthesize Round\n4. The Synthesize tool AUTOMATICALLY posts the synthesis text to the user. DO NOT repeat, paraphrase, translate, summarize, or re-post the synthesis content. Your final reply after Synthesize must be a SHORT acknowledgment only, max 2 sentences, asking about the next round. Example: \"Runde 1 ist durch - siehe Synthese oben. Runde 2 starten?\"\n\nFILE HANDLING:\n- briefing: problem/context - Phase 0\n- panel: made available to personas in rounds\n- Read File List, Read File Content\n- Images pass to your context automatically\n\nRIGIDITY SCORE (default 5):\n- User adjust via \"rigidity 8\" or \"personas offener\"\n- 0-3: open; 4-6: update on strong counter-arg; 7-10: stubborn\n- Confirm any change\n\nBEHAVIORS:\n- If session exists, continue from current phase\n- Be direct, no filler. Match user language\n- Surface tensions over forced consensus",
            "maxIterations": 50,
            "passthroughBinaryImages": false
          }
        },
        "id": "coordinator-agent",
        "name": "Syn Coordinator Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          3456,
          -336
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-opus-4-6",
            "mode": "list",
            "cachedResultName": "Claude Opus 4.6"
          },
          "options": {
            "temperature": 0.7
          }
        },
        "id": "llm-coordinator",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          2944,
          -112
        ],
        "credentials": {
          "anthropicApi": {
            "id": "xryPDagnAi6vifng",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=synweb_{{ $('Execute Workflow Trigger').item.json.sessionId }}"
        },
        "id": "memory-coordinator",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          3072,
          -112
        ],
        "credentials": {
          "postgres": {
            "id": "3bFmPfSLWhmF9NRR",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_sessions"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $json.sessionId }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $json.sessionId }}",
              "channel_id": "={{ $json.channelId }}",
              "user_id": "={{ $json.userId }}",
              "status": "setup",
              "rigidity_score": 0,
              "persona_count": 0,
              "current_round": 0
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "problem_brief",
                "displayName": "problem_brief",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "rigidity_score",
                "displayName": "rigidity_score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "file_context",
                "displayName": "file_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "persona_count",
                "displayName": "persona_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "current_round",
                "displayName": "current_round",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "coordinator_context",
                "displayName": "coordinator_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "channel_id",
                "displayName": "channel_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "upsert-session",
        "name": "Upsert Session",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          4016,
          -272
        ]
      },
      {
        "parameters": {
          "description": "Run a single persona analysis for the current round. Input must include: session_id, persona_id, persona_profile, problem_brief, round_number, file_context (optional), previous_synthesis (optional for round 2+), rigidity_instruction (optional for round 2+).",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "XybiSig1oi3HquZd"
          },
          "workflowInputs": {
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "persona_id",
                "displayName": "persona_id",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "persona_profile",
                "displayName": "persona_profile",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "problem_brief",
                "displayName": "problem_brief",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "round_number",
                "displayName": "round_number",
                "type": "number",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "file_context",
                "displayName": "file_context",
                "type": "string",
                "required": false,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "previous_synthesis",
                "displayName": "previous_synthesis",
                "type": "string",
                "required": false,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "rigidity_instruction",
                "displayName": "rigidity_instruction",
                "type": "string",
                "required": false,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "unresolved_tension",
                "displayName": "unresolved_tension",
                "type": "string",
                "required": false,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "file_url",
                "displayName": "file_url",
                "type": "string",
                "required": false,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $('Execute Workflow Trigger').item.json.sessionId }}",
              "persona_id": "={{ $fromAI('persona_id', 'Unique persona identifier e.g. alpha, beta') }}",
              "persona_profile": "={{ $fromAI('persona_profile', 'Full persona profile text') }}",
              "problem_brief": "={{ $fromAI('problem_brief', 'The problem brief for this session') }}",
              "round_number": "={{ $fromAI('round_number', 'Current round: 1, 2, or 3') }}",
              "file_context": "={{ $fromAI('file_context', 'Optional: text summary of uploaded files') }}",
              "previous_synthesis": "={{ $fromAI('previous_synthesis', 'Optional: synthesis from previous round') }}",
              "rigidity_instruction": "={{ $fromAI('rigidity_instruction', 'Optional: how rigid the persona should be') }}",
              "unresolved_tension": "={{ $fromAI('unresolved_tension', 'Optional: tension to address in round 3') }}",
              "file_url": "={{ $fromAI('file_url', 'Optional: Slack url_private of uploaded file') }}"
            }
          }
        },
        "id": "daa6852f-49c0-4fb7-89e1-9b95d544cd73",
        "name": "Run Persona",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          3856,
          80
        ]
      },
      {
        "parameters": {
          "description": "Create a synthesis of all persona responses for a given round. Input must include: session_id, round_number, problem_brief.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xgBgCZeVWBVB7jLN"
          },
          "workflowInputs": {
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "round_number",
                "displayName": "round_number",
                "type": "number",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              },
              {
                "id": "problem_brief",
                "displayName": "problem_brief",
                "type": "string",
                "required": true,
                "display": true,
                "removed": false,
                "readOnly": false,
                "defaultMatch": false
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $('Execute Workflow Trigger').item.json.sessionId }}",
              "round_number": "={{ $fromAI('round_number', 'The round number to synthesize') }}",
              "problem_brief": "={{ $fromAI('problem_brief', 'The problem brief for context') }}"
            }
          }
        },
        "id": "ca7d408f-ae39-456c-b981-4cc3a9ad4cee",
        "name": "Synthesize Round",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          3856,
          -64
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_personas"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "returnAll": true
        },
        "id": "05ec35be-4fe3-442a-956c-2a3a29cd55dd",
        "name": "Read Personas",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3472,
          224
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_sessions"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "returnAll": true
        },
        "id": "e3776abc-306a-4481-ac13-f0d98e28a6b2",
        "name": "Read Sessions",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3472,
          80
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_syntheses"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "returnAll": true
        },
        "id": "0f7c04dc-bf1f-4720-aa1a-624778a77528",
        "name": "Read Syntheses",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3616,
          80
        ]
      },
      {
        "parameters": {},
        "id": "b6b5ba76-6b54-479d-9dd9-dfa663b95c31",
        "name": "Think",
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          3072,
          64
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_files"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "returnAll": true
        },
        "id": "ff186274-97ce-4115-be33-e8c9a8610c29",
        "name": "Read File List",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3616,
          -64
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_files"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              }
            ]
          },
          "returnAll": true
        },
        "id": "08187863-96b9-4d2a-a1ce-167b2ab084eb",
        "name": "Read File Content",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3472,
          -64
        ]
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sessionId"
              },
              {
                "name": "channelId"
              },
              {
                "name": "userId"
              },
              {
                "name": "cleanMessage"
              },
              {
                "name": "hasFiles",
                "type": "boolean"
              },
              {
                "name": "fileStatus"
              },
              {
                "name": "botName"
              },
              {
                "name": "slotNumber",
                "type": "number"
              },
              {
                "name": "targetWorkflow"
              },
              {
                "name": "fileUrl"
              }
            ]
          }
        },
        "id": "78990ef5-c503-4abd-8943-9a2f70ab726f",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          2656,
          -336
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst phaseData = $('Phase Detection').first().json;\n\n// If DataTable returned 0 rows (no session exists yet), create a placeholder\n// so the Route switch can evaluate the 'id notExists' condition\nif (items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  return [{\n    json: {\n      _noSessionFound: true,\n      ...phaseData\n    }\n  }];\n}\n\n// Session found - pass through with phase data merged\nreturn [{\n  json: {\n    ...items[0].json,\n    ...phaseData\n  }\n}];"
        },
        "id": "8e93e385-d299-4937-bdcf-a089f61a1374",
        "name": "Ensure Session Item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3264,
          -336
        ]
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "panel_personas"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "keyValue": "={{ $('Execute Workflow Trigger').item.json.sessionId }}"
              },
              {
                "keyName": "name",
                "keyValue": "={{ $fromAI('name') }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $('Execute Workflow Trigger').item.json.sessionId }}",
              "persona_id": "={{ $fromAI('persona_id') }}",
              "name": "={{ $fromAI('name') }}",
              "type": "={{ $fromAI('type') }}",
              "core_perspective": "={{ $fromAI('core_perspective') }}",
              "profile": "={{ $fromAI('profile') }}",
              "slack_slot": "={{ $fromAI('slack_slot') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "persona_id",
                "displayName": "persona_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "type",
                "displayName": "type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "core_perspective",
                "displayName": "core_perspective",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "profile",
                "displayName": "profile",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "round_1_response",
                "displayName": "round_1_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "round_2_response",
                "displayName": "round_2_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "round_3_response",
                "displayName": "round_3_response",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "position_summary",
                "displayName": "position_summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "slack_slot",
                "displayName": "slack_slot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "bd9f3281-a3b3-4d21-b205-8bb6506a9c32",
        "name": "Write Personas",
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1.1,
        "position": [
          3616,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    sessionId: trigger.sessionId,\n    channelId: trigger.channelId,\n    userId: trigger.userId\n  }\n}));"
        },
        "id": "3b3e2ea8-9a3d-4fa9-8a79-50a740e69355",
        "name": "Prep Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3776,
          -336
        ]
      },
      {
        "id": "1b0c51f3-727a-41f0-9979-22a815e8146e",
        "name": "Web Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syn.worqshop.io/api/n8n/callback",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Syn-Callback-Secret",
                "value": "=a43e6582abf82fcdf0caa75a7ff22ce1a9a80cf6447ca2b376c7c3c08a88675c"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({sessionId: $('Execute Workflow Trigger').item.json.sessionId, kind: 'coordinator', text: $json.output}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "continueOnFail": true
      },
      {
        "id": "post-status-tool",
        "name": "Post Status",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          3232,
          64
        ],
        "parameters": {
          "toolDescription": "Post a short ephemeral progress/status line to the user (like a reasoning trace). Call this BEFORE any long-running tool (Run Persona, Synthesize Round, Write Personas). Shown as typing-indicator above chat input and disappears when real content arrives.",
          "method": "POST",
          "url": "https://syn.worqshop.io/api/n8n/callback",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Syn-Callback-Secret",
                "value": "a43e6582abf82fcdf0caa75a7ff22ce1a9a80cf6447ca2b376c7c3c08a88675c"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"sessionId\": \"={{ $('Execute Workflow Trigger').item.json.sessionId }}\", \"kind\": \"status\", \"text\": \"{status}\"}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "status",
                "type": "string",
                "description": "Short progress line in the users language (German by default), present tense, max 40 chars. Example: Frage Miriam ab (1/4)..."
              }
            ]
          }
        },
        "disabled": true
      }
    ],
    "connections": {
      "Phase Detection": {
        "main": [
          [
            {
              "node": "Get Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Run Persona": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Synthesize Round": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read Personas": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read Sessions": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read Syntheses": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read File List": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read File Content": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Phase Detection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Session": {
        "main": [
          [
            {
              "node": "Ensure Session Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Personas": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Syn Coordinator Agent": {
        "main": [
          [
            {
              "node": "Prep Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Reply": {
        "main": [
          [
            {
              "node": "Upsert Session",
              "type": "main",
              "index": 0
            },
            {
              "node": "Web Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensure Session Item": {
        "main": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Status": {
        "ai_tool": [
          [
            {
              "node": "Syn Coordinator Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "saveManualExecutions": true,
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "binaryMode": "separate",
      "timeSavedMode": "fixed",
      "errorWorkflow": "k_1wGROZ77CNjRE1INOwj"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": null,
    "versionId": "08a5492f-29fd-40d1-aff3-179ff2aaddbb",
    "activeVersionId": "08a5492f-29fd-40d1-aff3-179ff2aaddbb",
    "versionCounter": 26,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-16T22:10:33.552Z",
        "createdAt": "2026-04-16T22:10:33.552Z",
        "role": "workflow:owner",
        "workflowId": "A3jxDuimyDE2G6uO",
        "projectId": "ckYCj2WnRYeX9dyH",
        "project": {
          "updatedAt": "2025-09-17T22:00:48.229Z",
          "createdAt": "2025-09-17T19:21:15.442Z",
          "id": "ckYCj2WnRYeX9dyH",
          "name": "Tech Worqshop <tech@worqshop.io>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ddd3fc4f-8d8a-40c8-ab19-e75defdac099"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]